<%include module/head.ejs%>

<div class="container">
    <div>
        <h1 id="title">欢迎回家，兄弟</h1>
    </div>
    <div>
        <a type="button" class="btn btn-default" href="/logout">登出</a>
    </div>
</div>

<%include module/foot.ejs%>