<%include module/head.ejs%>

<div class="container">
    <div>
        <h1 id="title">誓词</h1>
        <p class="lead">我将生命与荣耀献给守夜人<br>今夜如此，夜夜皆然</p>
    </div>
    <div>
        <a type="button" class="btn btn-primary" href="/login">出击！</a>
        <a type="button" class="btn btn-default" href="/reg">加入守夜人</a>
    </div>
</div>

<%include module/foot.ejs%>